body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E5DBCF;
    background-color: #0F3B5F;
    
}
h1{
    font-weight: Bold;
    padding: 25px;
    background-color: #CC9752;
    color: #0F3B5F;
    text-align: center;
}
h2, h3{
    text-align: center;
    color: #CC9752;
}
canvas{
    height: 200px;
    width: 400px;
    border: 1px solid #E5DBCF;
}
table{
    max-width: 500px;
    margin:auto;
    text-align: center;
   
}
.reset{
    text-align: end;
    font-size: small;
}